<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Student Dashboard</title>
</head>
<body>
    <div class="container">
        <h1 class="title">STUDENT DASHBOARD</h1>
    </div>
    <div class="container">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#studentForm" >Create Student Record</button>
        &nbsp;
        <a class="btn btn-primary" href="/" >Return to Homepage</a>
    </div>
    <br>
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>
    <% if (messages.error) { %>
        <div class="alert alert-success" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="form-container">
        <form action="/students/search" method="GET">
            <input type="text" name="studentName" placeholder="Enter Last Name or First name" size="50">
            <input type="submit" value="Search" class="btn btn-primary">
            <a href="/students" class="btn btn-primary">Refresh List</a>
        </form>
    </div>
    <div class="modal fade" id="studentForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Create Student Record</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" action="/students/add">
              <div class="modal-body">
                <div class="form-group">
                  <label for="studentLastName">Last Name</label>
                  <input type="text" class="form-control" name="studentLastName" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="studentFirstName">First Name</label>
                    <input type="text" class="form-control" name="studentFirstName" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="studentMiddleName">Middle Name</label>
                    <input type="text" class="form-control" name="studentMiddleName" placeholder="Enter Middle Name">
                </div>
              </div>
              <div class="modal-footer border-top-0 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
            <% for(let students of data) { %>
                <tr>
                    <td><%= students.studentID%></td>
                    <td><%= students.studentLastName%></td>
                    <td><%= students.studentFirstName%></td>
                    <td><%= students.studentMiddleName%></td>
                    <td>
                        <a class="btn btn-success edit" data-bs-toggle="modal" data-bs-target="#studentForm<%=students.studentID%>">Edit</a>
                        <a class="btn btn-danger delete" href="/students/delete/<%=students.studentID%>">Delete</a>
                        <!--Modal for edit-->
                        <div class="modal fade" id="studentForm<%=students.studentID%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel">Update Student Record</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <form method="post" action="/students/edit/<%=students.studentID%>">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="studentID">Student ID</label>
                                        <input type="number" class="form-control" name="studentID" value="<%=students.studentID%>" readonly>
                                    </div>
                                    <div class="form-group">
                                    <label for="studentLastName">Last Name</label>
                                    <input type="text" class="form-control" name="studentLastName" value="<%=students.studentLastName%>">
                                    </div>
                                    <div class="form-group">
                                        <label for="studentFirstName">First Name</label>
                                        <input type="text" class="form-control" name="studentFirstName" value="<%=students.studentFirstName%>">
                                    </div>
                                    <div class="form-group">
                                        <label for="studentMiddleName">Middle Name</label>
                                        <input type="text" class="form-control" name="studentMiddleName"  value="<%=students.studentMiddleName%>">
                                    </div>
                                </div>
                                <div class="modal-footer border-top-0 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
</body>
</html>