<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Teacher Dashboard</title>
</head>
<body>
    <%- include('partials/navbar'); %>
    <br>
    <br>
    <br>
    <div class="container">
        <h1 class="title">TEACHER DASHBOARD</h1>
    </div>
    <div class="container">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teacherForm" >Create Teacher Record</button>
    </div>
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>
    <% if (messages.error) { %>
        <div class="alert alert-success" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="form-container">
        <form action="/teachers/search" method="GET">
            <input type="text" name="teacherName" placeholder="Enter Last Name or First name" size="50" style="height:40px;border-radius:5px;">
            <input type="submit" value="Search" class="btn btn-primary">
            <a href="/teachers" class="btn btn-primary">Refresh List</a>
        </form>
    </div>
    <div class="modal fade" id="teacherForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Create Teacher Record</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" action="/teachers/add">
              <div class="modal-body">
                <div class="form-group">
                  <label for="teacherLastName">Last Name</label>
                  <input type="text" class="form-control" name="teacherLastName" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="teacherFirstName">First Name</label>
                    <input type="text" class="form-control" name="teacherFirstName" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="teacherMiddleName">Middle Name</label>
                    <input type="text" class="form-control" name="teacherMiddleName" placeholder="Enter Middle Name">
                </div>
              </div>
              <div class="modal-footer border-top-0 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th width="200px">Action</th>
                    </tr>
                </thead>
                <tbody>
                <% if(data.length) { %>
                    <% for(let teachers of data) { %>
                    <tr>
                        <td><%= teachers.teacherID%></td>
                        <td><%= teachers.teacherLastName%></td>
                        <td><%= teachers.teacherFirstName%></td>
                        <td><%= teachers.teacherMiddleName%></td>
                        <td>
                            <a class="btn btn-success edit" data-bs-toggle="modal" data-bs-target="#teacherForm<%=teachers.teacherID%>">Edit</a>
                            <a class="btn btn-danger delete" href="/teachers/delete/<%=teachers.teacherID%>">Delete</a>
                            <!--Modal for edit-->
                            <div class="modal fade" id="teacherForm<%=teachers.teacherID%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-bottom-0">
                                    <h5 class="modal-title" id="exampleModalLabel">Update Teacher Record</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form method="post" action="/teachers/edit/<%=teachers.teacherID%>">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="teacherID">Teacher ID</label>
                                            <input type="number" class="form-control" name="teacherID" value="<%=teachers.teacherID%>" readonly>
                                        </div>
                                        <div class="form-group">
                                        <label for="teacherLastName">Last Name</label>
                                        <input type="text" class="form-control" name="teacherLastName" value="<%=teachers.teacherLastName%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="teacherFirstName">First Name</label>
                                            <input type="text" class="form-control" name="teacherFirstName" value="<%=teachers.teacherFirstName%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="teacherMiddleName">Middle Name</label>
                                            <input type="text" class="form-control" name="teacherMiddleName"  value="<%=teachers.teacherMiddleName%>">
                                        </div>
                                    </div>
                                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }%>
                </tbody>
            </table>
            <% } %>
        </div>
        <%- include('partials/footer'); %>
</body>
</html>